main #page-text {
	padding-top: 1.5rem;
}
main #page-text p {
	font-size: 1.8rem;
	padding: 0rem 4rem;
	text-indent: 5rem;
}

aside .shop-now {
	text-align: center;
	margin: 5rem auto;
	/*border: 1px solid black;*/
	width: 35rem;
	height: 24rem;
	vertical-align: center;
	/*border-radius: 1rem;*/
}

aside .shop-now img {
	padding-top: 1rem;
}

aside .shop-now a {
	text-decoration: none;
	color: black;
}

aside .shop-now a p{
	font-size: 1.8rem;
}